<main class="holder">
    {{#each novedades}}

    <h3>{{titulo}}</h3>
    <p>
        {{subtitulo}}
    </p>
    <p>{{cuerpo}}
    </p>
<hr>
    {{/each}}
    <p></p>
    <footer class="holder">
        <p>
            Diseñado por Raúl Diaz - &copy;2022
        </p>